{% include 'User/header.html' %}


<!-- About Header -->
<div class="row mt-5">
  <div class="col">
    <a class="navbar-brand " href="{{url_for('home')}}">
      <h2 class="text-dark p-2 text-center"> About Tec<span class="text-success" >to</span>nic</h2>
    </a>
  </div>
</div>

<!-- Mission Section -->
<div class="row mt-2">
  <div class="col">
    <h3 class="text-center text-success ">Our Mission</h3>
    <h4 class="text-center"> At Tectonic Global Services Limited, our mission is to deliver innovative <br> and exceptional services that exceed our customers' expectations, while <br> fostering a culture of integrity, collaboration, and continuous improvement.</h4>
  </div>
</div>

<!-- Vision Section -->
<div class="row mt-5">
  <div class="col">
    <h3 class="text-center text-success ">Our Vision</h3>
    <h4 class="text-center"> Our vision is to be a leading global provider of services, <br> recognized for our expertise, customer-centric approach, <br> and commitment to excellence, while making a positive impact <br>on the communities we serve.</h4>
  </div>
</div>

<!-- Company Overview Section -->
<div class="row mt-5">
  <div class="col">
    <h3 class="text-center text-success ">Company Overview</h3>
    <h4 class="text-center"> At Tectonic Global Services Limited, we're a dynamic and innovative company <br> dedicated to delivering exceptional services that meet the evolving needs <br> of our global customers. We value integrity, <br> collaboration, and continuous improvement.</h4>
  </div>
</div>


<!-- Core Values Section -->
<div class="row mt-5">
  <div class="col">
    <h3 class="text-center text-success mb-4">Core Values</h3>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <ul class="list-unstyled text-center">
          <li class="mb-3"><i class="fas fa-check-circle text-success me-2"></i><strong>Integrity:</strong> We operate with transparency and honesty in all our interactions.</li>
          <li class="mb-3"><i class="fas fa-users text-success me-2"></i><strong>Collaboration:</strong> We work together as a team to achieve common goals.</li>
          <li class="mb-3"><i class="fas fa-lightbulb text-success me-2"></i><strong>Innovation:</strong> We continuously seek new and better ways to deliver exceptional services.</li>
          <li class="mb-3"><i class="fas fa-user-tie text-success me-2"></i><strong>Customer-Centricity:</strong> We prioritize our customers' needs and strive to exceed their expectations.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Our Story Section -->
<div class="row mt-5">
  <div class="col">
    <h3 class="text-center text-success mb-4">Our Story</h3>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <p class="text-center lead">Tectonic Global Services Limited was founded in  <span class="text-success">2007</span> with a vision to provide innovative services to global customers. Today, we're a leading provider of exceptional services, driven by our passion for excellence and customer satisfaction.</p>
      </div>
    </div>
  </div>
</div>



<!-- Team Section -->
<div class="row mt-5 ms-3">
  <h1 class="text-center text-success">Meet Our Team</h1>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4">
        <img src="/static/images/bimbo.jpeg" alt="" class="img-fluid rounded-circle">
      </div>
      <div class="col-md-8">
        <h4>Surv. Bimbo OYEDIRAN</h4>
        <p><strong>CEO, Tectonic Global Services Limited</strong></p>
        <p>As our CEO, Surv. Bimbo OYEDIRAN provides strategic leadership and vision, driving our company's growth and success while fostering a culture of innovation and excellence.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-4">
        <img src="/static/images/estar.jpeg" alt="" class="img-fluid rounded-circle">
      </div>
      <div class="col-md-8">
        <h4>Engr. Estar OYEDIRAN</h4>
        <p><strong>Manager & Engineer, <br> Tectonic Global Services Limited</strong></p>
        <p>With a passion for delivering exceptional service, Engr. Estar OYEDIRAN oversees our technical operations, ensuring that every customer receives personalized support and care.</p>
      </div>
    </div>
  </div>
</div>


    






      
  {% include 'User/footer.html' %}