{% include 'User/header.html' %}
  <div class="row">
    <div class="col">
        <a class="navbar-brand " href="{{url_for('home')}}">
            
    </div>
  </div>
  <h1>{%with messages=get_flashed_messages()%}
     {%for message in messages%}
     {%if messages%}
    <p style='border:5px solid red;'class="alert alert-primary">{{message}} </p>
    {%else%}
      <p style='border:5px solid green;'class="alert alert-succes">{{message}}</p>
      {%endif%}
      {%endfor%}    
    {%endwith%}
  </h1>
<div>
  <h1 class="ms-3">Bookings:{{count}}</h1>
  
  <table class="table table-striped table-hover m-3 p-3">
    <thead>
        <tr>
            <th>S/N</th>
            <th>Fullname</th>
            <th>Phone</th>
            <th>Service</th>
            <th>Message</th>
            <th>date booked</th>
            
           
        </tr>
    </thead>
   
    <tbody>
   
        {%for customer in booked%}
        <tr><td>{{loop.index}}</td>
        <td>{{customer.fullname}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.service}}</td>
        <td>{{customer.message}}</td>
        <td>{{customer.booked_time}}</td>
        <td><a href="/customer/{{customer.id}}/update" class="btn btn-warning btn-sm">Edit</a> 
          <a href="/customer/{{customer.id}}/delete/" class="btn btn-danger btn-sm">Delete</a> 
          <a href="/customer/{{customer.id}}/details" class="btn btn-primary btn-sm">View</a></td>
        </tr>
    {%endfor%}
    </tbody>
  </table>
</div>


      
  {% include 'User/footer.html' %}