{% include 'User/header.html' %}


<h1 class="ms-3">Booking Details</h1>
<div class=" ps-2">
<p class="alert alert-primary">Name:{{customer.fullname}}</p>
<p class="alert alert-primary">Phone:{{customer.phone}}</p>
<p  class="alert alert-primary">Service Booked:{{customer.service}}</p>
<p class="alert alert-primary">Date :{{customer.booked_time}}</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">

</div>
</div>
</div>
{% include 'User/footer.html' %}
