<!-- Footer -->
<footer class="footer mt-5" style="background-color: green; color: #fff; padding: 50px 0;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
              
                <h5>Contact Us</h5>
                <p><i class="fa fa-map-marker"></i> Alausa, Ikeja, Nigeria</p>
                <p><i class="fa fa-phone"></i> Surveyor: <a href="tel:+2348033169435" style="color: #fff;">+234-803-316-9435</a></p>
                <p><i class="fa fa-phone"></i> Engineer: <a href="tel:+2348033582902" style="color: #fff;">+234-803-358-2902</a></p>
                <p><i class="fa fa-envelope"></i> <a href="mailto:tectonicglobalservices@gmail.com" style="color: #fff;">tectonicglobalservices@gmail.com</a></p>
                <p><i class="fa fa-envelope"></i> <a href="mailto:bimbo.oyediran@yahoo.com" style="color: #fff;">bimbo.oyediran@yahoo.com</a></p>
            </div>
            <div class="col-md-4">
                <h5>Navigation</h5>
                <ul style="list-style: none; padding: 0;">
                    <li><a href="/home/" style="color: #fff;">Home</a></li>
                    <li><a href="/about/" style="color: #fff;">About</a></li>
                    <li><a href="/service/" style="color: #fff;">Services</a></li>
                    <li><a href="/form/" style="color: #fff;">Book</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>Tectonic Global Services Limited is a leading provider of surveying services.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7926.403940077952!2d3.355974585325039!3d6.621815130801109!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b93b830dcf4e3%3A0x695fda95d3d78e4a!2sAlausa%2C%20Ojodu%20101233%2C%20Lagos!5e0!3m2!1sen!2sng!4v1746057595693!5m2!1sen!2sng" 
                width="400" height="300" style="border:0;" allowfullscreen=""
                 loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

               
            </div>
            <div class="col-md-12 text-center">
               

                <p>&copy; 2007 Tectonic Global Services Limited. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<!-- Marquee Section -->
<div style="background-color: rgba(0, 179, 255, 0.986); color: #fff; padding: 10px 0; text-align: center;">
    <marquee>TECTONIC GLOBAL SERVICES OFFERS THE BEST SURVEYING SERVICES!!</marquee>
</div>

</body>
<script src="/static/bootstrap/js/bootstrap.bundle.js"></script>
</html>

