  <!--footer  -->
  <div><marquee>TECTONIC GLOBAL SERVICES OFFERS THE BEST SUREVEYING SERVICES!!</marquee></div>
  <div class="footer p-3">
    <div class="row">
        <div class="col-md-4 m-0">
            <h5>Contact Us</h5>
            <p>Address : Alausa,Ikeja,Nigeria</p>
            <p ><a href="#">Surveyor : +234-803-316-9435 </a></p>
            <p ><a href="#">Engineer :+234-803-358-2902</a></p>
            <p>Email: tectonicglobalservices@gmail.com</p>
            <p >bimbo.oyediran@yahoo.com</p>
        </div>
        <div class="col-md-4 p-4">
            <h5>Navigation</h5>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="form.html">Book</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p>&copy; 2007 Tectonic Global Services Limited.  <br> All rights reserved.</p>
        </div>
    </div>
  </div>
    
  
</body>
<script src="/static/bootstrap/js/bootstrap.bundle.js"></script>
</html>