{% include 'User/header.html' %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


      <!-- booking form -->
      <h1>{%with message=get_flashed_messages(with_categories=True)%}
        {%if message%}
         {%for cart,a in message%}
         {%if cart =='error'%}
        <p style='border:5px solid red;'class="alert alert-primary">{{a}} </p>
         {%else%}
          <p style='border:5px solid green;'class="alert alert-succes">{{a}} {{email}}</p>
        {%endif%}
        {%endfor%}    
        {%endif%}
        {%endwith%}
      </h1>

      
        <div class="row">
            <div class="col-md-12 m-3  ">
                <h1 class="text-center mt-5"><i class=" fa fa-book " aria-hidden="true"></i>
                  BOOK <span class="text-success">A</span> SERVICE</h1>
                  
                    <form method="POST" action="{{ url_for('handle_form_submission') }}" 
                    class="m-3 text-light p-3" novalidate>
                    {{form.csrf_token}}
                  
                  {{form.fullname(placeholder='enter your fullname',class='form-control')}}
                  {%if form.fullname.errors%}
                          {%for error in form.fullname.errors%} 
                          <span class="text-danger">{{error}}</span> <br>
                          {%endfor%}
                          {%endif%}
                    <br>
                    {{form.csrf_token}}
                    
                    {{form.phone(placeholder='enter your phone number',class='form-control')}}
                    {%if form.phone.errors%}
                            {%for error in form.phone.errors%} 
                            <span class="text-danger">{{error}}</span> <br>
                            {%endfor%}
                            {%endif%}      
                  
                            <br>
                            {{form.csrf_token}}
                           
                            {{form.email(placeholder='enter your email address',class='form-control')}}
                           
                            {%if form.email.errors%}
                                    {%for error in form.email.errors%} 
                                    <span class="text-danger">{{error}}</span> <br>
                                    {%endfor%}
                                    {%endif%}  
                            <br>
                            <div class="text-dark">
                              <label for="">Select Your State:</label>
                              <select class="form-group" id="state" name="state" onchange="getLGAs(this.value)">
                                {% for state in form.state.choices %}
                                    <option value="{{ state[0] }}">{{ state[1] }}</option>
                                {% endfor %}
                            </select> <br> <br>
                            <label for="">Local Government Area:</label>
                              <select id="lga" name="lga" class="form-group">
                                  <option value="">Select LGA</option>
                              </select>
                          </div>
                          <br>
                            <div class="form-group text-dark">
                              <label for="">Select a service:</label>
                              {{ form.service(class='form-control') }}
                            
                              {% if form.service.errors %}
                                  {% for error in form.service.errors %}
                                  <select name="service">
                                    {% for service in form.service.choices %}
                                        <option value="{{ service[0] }}" {% if form.service.data == service[0] %}selected{% endif %}>{{ service[1] }}</option>
                                    {% endfor %}
                                </select>
                                  {% endfor %}
                              {% endif %}
                          </div>

                                    <br>
                                    {{form.csrf_token}}
                                    {{form.message(class='form-control',placeholder='Leave a comment/message')}}
                                    {%if form.message.errors%}
                                            {%for error in form.message.errors%} 
                                            <span class="text-danger">{{error}}</span> <br>
                                            {%endfor%}
                                            {%endif%}  
                  <br> <br>
                  <button type="submit" class="btn btn-success">
                    <i class="fa fa-calendar" aria-hidden="true"></i> Book Now
                </button>
                  
                  </form>
                  </div>
                  </div>
                  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

                  <script>
                    function getLGAs(stateId) {
    console.log('Getting LGAs for state ID:', stateId);
    $.ajax({
        type: 'POST',
        url: '/get_lgas/',
        data: {'state_id': stateId},
        success: function(data) {
            console.log('Received LGAs:', data);
            $('#lga').empty();
            $('#lga').append($('<option>').text('Select LGA').val(''));
            $.each(data, function(index, lga) {
                console.log('Adding LGA:', lga.name);
                $('#lga').append($('<option>').text(lga.name).val(lga.id));
            });
        },
        error: function(xhr, status, error) {
            console.log('Error getting LGAs:', xhr.responseText);
        }
    });
}


                  </script>
            
      {% include 'User/footer.html' %}