{% include 'User/header.html' %}


<!-- Services-->
 <div class="container">
 <div class="row">
    <div class="col bg-light">
        <h1 class="text-center m-5 mb-3">WHAT WE DO</h1>
        
    </div>
 </div>
 <div class="row">
    <div class="col-md-5">
<h3 class="text-danger">Surveying Engineers</h3>
</div>
  <div class="col-md-3">
    <h3>Geophysics  </h3>
  </div>
  <div class="col-md-4 ">
    <h3>Hydrography</h3>
  </div>
  
 </div>

 <div class="row">
  <div class="col-md-9">
<h3>Geo-Informations Consultants | Registered Surveyors</h3>
</div>
<div class="col-md-3 ">
  <h3 class="text-danger">Digital Mapping</h3>
</div>
</div>

<div class="row mt-4">
  <h2 class="text-center  border">OUR SALES</h2>
  <div class="col">
<h3>HP Laptops</h3>
</div>
<div class="col ">
  <h3 >Mpower Inverters</h3>
</div>

</div>
</div>
      
{% include 'User/footer.html' %}